@model POS1.Models.Account

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Account</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Accid)

        <div class="form-group">
            @Html.LabelFor(model => model.AccName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccName)
                @Html.ValidationMessageFor(model => model.AccName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccNum, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccNum)
                @Html.ValidationMessageFor(model => model.AccNum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BankName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BankName)
                @Html.ValidationMessageFor(model => model.BankName)
            </div>
        </div>

       @* <div class="form-group">
            @Html.LabelFor(model => model.Active, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Active)
                @Html.ValidationMessageFor(model => model.Active)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Createddate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Createddate, new { disabled="disabled"})
                @Html.ValidationMessageFor(model => model.Createddate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastModified, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastModified)
                @Html.ValidationMessageFor(model => model.LastModified)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
