@model POS1.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Category</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CDes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CDes)
        </dd>

       <!-- <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>-->

        <dt>
            @Html.DisplayNameFor(model => model.Createddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Createddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
