@model POS1.Models.Company

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ComName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComAdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComAdd)
        </dd>

        <!--<dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

       <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>-->

        <dt>
            @Html.DisplayNameFor(model => model.Createddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Createddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Comid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
