@model POS1.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

       <!-- <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>-->

        <dt>
            @Html.DisplayNameFor(model => model.Createddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Createddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genericformula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genericformula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand.BName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.BName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit.UName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit.UName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Iid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
